<div class="container py-5">
  <div class="row text-center text-white mb-5">
    <div class="col-lg-7 mx-auto">
      <h1 class="display-4">Presentations List</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 mx-auto">
      <input type="submit" value="Add presentation" class="btn btn-primary" data-bs-toggle="modal"
             data-bs-target="#exampleModal">
      <!-- List group-->
      <ul class="list-group shadow">
        <!-- list group item-->
        <li class="list-group-item" *ngFor="let pres of presentations; let i=index">
          <!-- Custom content-->
          <div class="media align-items-lg-center flex-column flex-lg-row p-3">
            <div class="media-body order-2 order-lg-1">
              <h5 class="mt-0 font-weight-bold mb-2">{{pres.title}}</h5>
              <p class="font-italic text-muted mb-0 small">{{pres.description}}</p>
              <div class="d-flex align-items-center justify-content-between mt-1">
                <h6 class="font-weight-bold my-2">{{pres.previewImage}}</h6>
                <ul class="list-inline small">
                  <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                  <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                  <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                  <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                  <li class="list-inline-item m-0"><i class="fa fa-star-o text-gray"></i></li>
                </ul>
              </div>
              <button class="btn btn-success mx-2" (click)="download(pres.fileName)">download</button>
              <input type="submit" value="edit" class="btn btn-warning"
                     data-toggle="modal" data-target="#exampleModal" (click)="update(pres,i)">
              <button class="btn btn-danger mx-2" (click)="delete(pres.id)">Delete</button>
            </div><img [src]="'data:image/jpeg;base64,'+ pres.picByte " alt="Generic placeholder image" width="200" class="ml-lg-5 order-1 order-lg-2">
          </div> <!-- End -->
        </li> <!-- End -->
        <!-- list group item-->

      </ul> <!-- End -->
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" id="close" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <app-presentation-form *ngIf="showEdit; else elseblock" [presentation]="presentation"
                        (notif)="updatePresentation($event)"></app-presentation-form>
      <ng-template #elseblock>
        <app-presentation-form (notif)="addPresentation($event)"></app-presentation-form>
      </ng-template>
    </div>
  </div>
</div>
